/* header-ին թույլ դիրք, որ relative-ը աշխատի */
.site-header {
  position: relative;
  z-index: 10;
}

/* Ճիշտ 3 հատ լույս, կողք-կողքի */
.site-header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 80px; /* light1.png-ի բարձրությանը մոտ */
  background-image:
    url("/static/img/seasonal/light1.png"),
    url("/static/img/seasonal/light1.png"),
    url("/static/img/seasonal/light1.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    left center,
    center center,
    right center;
  background-size: auto 100%, auto 100%, auto 100%;
  pointer-events: none;
}


/* լոգոյի stack-ը պատրաստենք overlay-ների համար */
.logo-stack {
  position: relative;
}

/* Santa գլխարկ AskYerevan լոգոյի վրա */
.logo-stack::after {
  content: "";
  position: absolute;
  width: 60px;                 /* կախված գլխարկի չափից */
  height: 60px;
  left: 120px;                  /* լոգոյի ձախ/վերևից կկարգավորես */
  top: -9.1px;
  background: url("/static/img/seasonal/hat_santa.png") no-repeat center;
  background-size: contain;
  pointer-events: none;
}

/* լոգոյի կողքի փոքր տոնածառ */
/* Ձախ կողմի տոնածառ */
.header-christmas-left {
  position: absolute;
  left: 160px;
  bottom: -6px;
  width: 60px;
  height: 70px;
  background: url("/static/img/seasonal/tree-with-snow.png") no-repeat center;
  background-size: contain;
  pointer-events: none;
}

/* Աջ կողմի Ձմեռ պապ – երբ նկարը քաշես՝ նույն ոճով */
.header-christmas-right {
  position: absolute;
  right: 210px;
  bottom: -10px;
  width: 70px;
  height: 100px;
  background: url("/static/img/seasonal/santa_CL.png") no-repeat center;
  background-size: contain;
  pointer-events: none;
}
body {
  background-color: #f5efe4; /* կամ այն color-ը, որ դու ես ուզում, դեպի նախորդ design */
}
