/* վերևի կապույտ գծի վրա լույսեր */
.site-header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -18px; /* մի քիչ վերև կապույտ գծից */
  height: 24px;
  background: url("/static/img/seasonal/lights.png") repeat-x center;
  background-size: contain;
  pointer-events: none;
}

/* լոգոյի վրա ձյուն */
.logo-stack {
  position: relative;
}

.logo-stack::after {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: -8px;
  height: 18px;
  background: url("/static/img/seasonal/snow-cap.png") no-repeat center top;
  background-size: contain;
  pointer-events: none;
}

/* փոքր տոնածառ լոգոյի կողքին */
.logo-stack::before {
  content: "";
  position: absolute;
  right: -32px;
  bottom: -2px;
  width: 24px;
  height: 32px;
  background: url("/static/img/seasonal/tree.png") no-repeat center/contain;
}
