{% extends "base.html" %}

{% block content %}
<section id="places">

  <!-- Կոնդ Հաուս – առաջին քարտ -->
  <section class="place-section" id="kond-house">
    <div class="place-block place-block--reverse">
      <div class="place-image place-image--column">
        <img src="/static/img/places/kond-house-terrace.jpg"
             alt="Կոնդ Հաուսի բացօթյա տեռասը հին Երևանի տների ֆոնին">
        <img src="/static/img/places/kond-house-bbq.jpg"
             alt="Խորոված և տնային սասիջներ Կոնդ Հաուսում՝ Կոնդ թաղամասում">
        <img src="/static/img/places/kond-house-bar.jpg"
             alt="Կոնդ Հաուսի բարն ու կոկտեյլները Երևանում">
        <img src="/static/img/places/kond-house-dessert-or-cocktail.jpg"
             alt="Կոնդ Հաուսի հեղինակային կոկտեյլը կամ դեսերտը">
      </div>

      <div class="place-text">
        <h2>Կոնդ Հաուս (The Kond House)</h2>
        <h3>Խորոված, գինի և հին Երևանի մթնոլորտ՝ տանիքի տեռասի վրա</h3>

        <p>
          Կոնդի նեղ փողոցների մեջ թաքնված Կոնդ Հաուսը ավելի շատ նման է մտերիմների
          բակի հյուրասիրության, քան «պաշտոնական ռեստորանի»։ Մի քանի աստիճան բարձրանում ես,
          ու արդեն տանիքի տեռասի վրա ես՝ տակդ Կոնդի ծուռուն-մուռուն տներն են, քամուց
          ծածանվող լվացքը, իսկ հեռվում երևում են քաղաքի լույսերը․ հին Երևանի
          հյուսվածքը և ժամանակակից հարմարավետությունը մի կադրի մեջ:
        </p>

        <p>
          Խոհանոցը լիովին տնային ու սատկեցնող կերակուրների մասին է․ ճիշտ ծխային կեղևով
          խոզի խորոված, տնային սասիջներ, սիգ կամ ստերլյադ՝ շամփուրով,
          խոշոր ափսեներով գյուղական կարտոֆիլ կանաչիներով, և թարմ աղցաններ՝
          ինչպես օրինակ հունական կամ կեսար, որ դնում ես սեղանի մեջտեղում ու
          բոլորը կիսվում են իրար հետ։ Սա այն տեղն է, որտեղ պատվիրում ես խմորի ու
          մսի համախմբված set, հայկական կարմիր գինի կամ Նեգրոնի բարից, ու երեկոն
          ինքն իրեն երկարում է մինչև ուշ գիշեր:
        </p>

        <p>
          Ներսում փոքր, հարմարավետ բարն է՝ սուրճով, դասական կոկտեյլներով և
          տանեցիք պատրաստած խմիչքներով, իսկ երեկոյան լույսերն ու երաժշտությունը
          տեռասին տալիս են փոքր party-ի զգացողություն՝ թաքնված փողոցներից վերևում։
          Հեշտ է պատկերացնել, թե ինչպես ես այստեղ գալիս պարզապես մի sunset նկար
          անելու, հետո հերթով հասնում խորովածին, գինուն, դեսերտին ու մի ուժեղ
          nightcap-ի, ու հեռանում այն զգացողությամբ, որ բացահայտել ես Երևանի
          ամենամթնոլորտային անկյուններից մեկը, ոչ թե հերթական ստեղծված սրճարանը:
        </p>
      </div>
    </div>
  </section>

  <section class="place-section" id="ulikhanyan-club">
  <div class="place-block">
    <div class="place-image place-image--column">
      <img src="/static/img/places/ulikhanyan-stage.jpg"
           alt="Ուլիխանյան ակումբի բեմը՝ կենդանի ջազ կատարումով Երևանում">
      <img src="/static/img/places/ulikhanyan-bar.jpeg"
           alt="Ուլիխանյան ակումբի բարն ու կոկտեյլները Երևանում">
      <img src="/static/img/places/ulikhanyan-audience.jpeg"
           alt="Ուլիխանյան ակումբի հանդիսատեսը կենդանի երաժշտության ընթացքում">
    </div>

    <div class="place-text">
      <h2>«Ուլիխանյան» ակումբ</h2>
      <h3>Ջազ, գինի և ուշ գիշերվա live-set-եր Սայաթ-Նովայի վրա</h3>

      <p>
        Սայաթ-Նովա պողոտայի 7 հասցեի նկուղային սրահում թաքնված «Ուլիխանյան» ակումբը
        այն տեղերից է, ուր մտնում ես «մի բաժակ բան» խմելու, բայց հաճախ մնում ես մինչև
        վերջին անկորը։ Փոքր, աղյուսապատ, մտերմիկ սրահ է, բեմը բառացիորեն ձեռքիդ
        տակ, այնպես որ երբ սկսում են ջազ, ֆյուժն կամ էթնո-ջազ նվագել, քեզ ավելի շատ
        զգում ես private jam-session-ի մեջ, քան մեծ համերգին։
      </p>

      <p>
        Բարը լուրջ է վերաբերվում խմիչքներին․ այստեղ կգտնես լավ գինիների ընտրանի
        հայկական կարմիր ու սպիտակ գինիներով, դասական կոկտեյլներ՝ Old Fashioned,
        Negroni, Dry Martini, ինչպես նաև հայկական կոնյակ՝ դանդաղ, ուշ գիշերվա
        համտեսի համար։ Այդ ամենը շատ բնական է զուգընթաց բեմի վրա նվագող ջազ
        քվարտետի հետ՝ մեկ բաժակ պահեստային կարմիր գինի, պարզ bar-snack,
        և այն պահը, երբ սաքսոֆոնի սոլոն լցնում է ամբողջ սրահը։
      </p>

      <p>
        «Ուլիխանյան»-ում գրեթե ամեն երեկո live երաժշտություն կա՝ երկուշաբթիօրյա
        jam-session-ներից մինչև տոմսով concert-ներ ու mini-festival lineup-ներ, իսկ
        հանդիսատեսը խառնվածք է՝ երաժիշտներ, երևանցիներ և զբոսաշրջիկներ, որոնք
        ակումբը գտնում են «բերանացին»։ Եթե ուզում ես почувствовать Երևանի գիշերային
        կողմը առանց աղմկոտ night-club-երի, սա հենց այն sweet spot-ն է՝ մեղմ լույս,
        լավ ձայն, ուժեղ խմիչք և այն զգացողությունը, որ հայտնաբերել ես քաղաքի
        երաժշտական կյանքի փոքր, «երևակայելի» ստորգետնյա սիրտը։
      </p>
    </div>
  </div>
</section>


</section>

